<ion-view title="KFC Menu" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-restaurant"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="kFCMenu-card23">
      <ion-item id="kFCMenu-list-item19">Zinger
        <span class="item-note">$28.00</span>
      </ion-item>
      <div class=" item item-image">
        <img src="img/v01VSe5ATBmJXFHx5h2g_20110930-KFC-Zinger.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left item-icon-right positive" id="kFCMenu-list-item20">
<!--        <i class="icon No Icon"></i>Add to cart-->
        <button id="specialButton" class="button button-positive  button-block button-outline" ng-click="sendToCart('Zinger',28.00)">Add to cart </button>
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
    </div>
    <div class="list card" id="kFCMenu-card25">
      <ion-item id="kFCMenu-list-item25">Special
        <span class="item-note">$35.00</span>
      </ion-item>
      <div class=" item item-image">
        <img src="img/iCTdaMjYSJ6rSDevdc3E_KFC-Boneless.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <ion-item class="item-icon-left item-icon-right positive" id="kFCMenu-list-item26">
      {{data | json}}
<!--        <button id="specialButton2" class="button button-positive  button-block button-outline" ng-click="sendToCart('Special',35.00)">Add to cart </button>-->
        <button id="specialButton2" class="button button-positive  button-block button-outline" ng-click="sendToCart()">Add to cart </button>
<!--        <i class="icon No Icon"></i>Add to cart-->
        <i class="icon ion-ios-checkmark-outline"></i>
      </ion-item>
    </div>
    <div id="kFCMenu-button-bar2" class="button-bar"></div>
    <a ui-sref="tabsController.foodCart" id="kFCMenu-button19" class="button button-stable  button-block icon-left ion-ios-cart-outline">Check Out!</a>
  </ion-content>
</ion-view>