<ion-view title="Food Now!" id="page2">
  <ion-content padding="true" class="has-header">
    <h3 id="foodNow-heading1" style="color:#000000;">Current Orders</h3>
    <div class="list card" id="foodNow-card22">
      <ion-item class="item-thumbnail-left" id="foodNow-list-item9">
        <img src="img/WV8l7dCPTlSnzT5lMMVN_KFC_logo.png">
      </ion-item>
      <div id="foodNow-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Zinger, Regular Fries, Regular Drink</p>
      </div>
      <ion-item class="item-icon-right positive" id="foodNow-list-item10">Status
        <i class="icon ion-ios-circle-outline"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>